<div class="form-wrapper">
  <form [formGroup]="newReleaseForm">
    <h4 class="title">Release Description</h4>
    <div class="basic-details">
      <div class="form-element">
        <mat-form-field appearance="legacy">
          <mat-label>Release Name</mat-label>
          <input
            matInput
            matTooltip="Provide a Suitable Name for this Release"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            type="text"
            formControlName="releaseName"
          />
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field appearance="legacy">
          <mat-label>Release Version</mat-label>
          <input
            matInput
            type="text"
            matTooltip="Create a Release Version in Jira and mention it here"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            formControlName="releaseTag"
          />
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-checkbox
          class="url-form-element"
          [(ngModel)]="checked"
          color="primary"
          [ngModelOptions]="{ standalone: true }"
          >Sync this version to Jira
        </mat-checkbox>
      </div>
    </div>

    <div class="multi-select">
      <ng-select
        class="custom"
        *ngIf="checked"
        [multiple]="true"
        [(ngModel)]="selectedProjects"
        [ngModelOptions]="{ standalone: true }"
        [placeholder]="'Select Associated Projects'"
      >
        <ng-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</ng-option>
      </ng-select>
    </div>

    <h4 class="title">Release Milestones</h4>
    <div class="milestones">
      <div class="form-element">
        <mat-form-field class="date-form-field" appearance="legacy">
          <mat-label>Requirement Freeze Date</mat-label>
          <input
            matInput
            matTooltip="Date by which Requirements should be Finalized"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            [matDatepicker]="picker"
            formControlName="requirementFreeze"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="date-form-field" appearance="legacy">
          <mat-label>Feature Freeze Date</mat-label>
          <input
            matInput
            matTooltip="Date by which all the Features Must be Developed"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            [matDatepicker]="pickerfeature"
            formControlName="featureFreeze"
          />
          <mat-datepicker-toggle matSuffix [for]="pickerfeature"></mat-datepicker-toggle>
          <mat-datepicker #pickerfeature></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="date-form-field" appearance="legacy">
          <mat-label>Code Freeze Date</mat-label>
          <input
            matInput
            matTooltip="Date by which Testing must be Completed and Bugs are Fixed"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            [matDatepicker]="pickerCode"
            formControlName="codeFreeze"
          />
          <mat-datepicker-toggle matSuffix [for]="pickerCode"></mat-datepicker-toggle>
          <mat-datepicker #pickerCode></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="date-form-field" appearance="legacy">
          <mat-label>Product Release Date</mat-label>
          <input
            matInput
            matTooltip="Time for Celebration"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            [matDatepicker]="pickerReleasedate"
            formControlName="releaseDate"
          />
          <mat-datepicker-toggle matSuffix [for]="pickerReleasedate"></mat-datepicker-toggle>
          <mat-datepicker #pickerReleasedate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <h4 class="title">Release Documents</h4>
    <div class="artifacts">
      <div class="url-form-element">
        <mat-form-field class="url-form-element" appearance="legacy">
          <mat-label>Requirement Document</mat-label>
          <textarea
            matInput
            matTooltip="Provide the Requirement Document"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            formControlName="requirementDocument"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="url-form-element">
        <mat-form-field class="url-form-element" appearance="legacy">
          <mat-label>Release Document</mat-label>
          <textarea
            matInput
            matTooltip="Provide the Release Document"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            formControlName="releaseNote"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div>
    <mat-error>
      {{ errorMessage }}
    </mat-error>
  </div>
  <div *ngIf="successMessage">
    {{ successMessage }}
  </div>
  <div class="submit">
    <button mat-raised-button color="primary" (click)="onSubmitReleaseForm()" class="release-btn">
      Create Release
    </button>
  </div>
</div>
