@import "../../style.scss";
.example-form {
  min-width: 15rem;
  max-width: 50rem;
  // width: 100%;
}

.example-full-width {
  width: 20rem;
  margin: 5rem;
  padding-top: 1rem;
}

.search-key {
  color: $color-blue;
}

.search-field {
  color: $color-primary;
}
