<div class="release-container">
  <div class="btn-container">
    <button mat-raised-button color="primary" class="release-btn" (click)="addReleaseForm()">
      <svg class="icon-add">
        <use xlink:href="../../assets/symbols.svg#icon-plus"></use>
      </svg>
      <span class="release-btn-text">New Release</span>
    </button>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let release of releaseList" class="release-card">
      <mat-card-header class="card-header">
        <!-- <div mat-card-avatar >
          <img class="example-header-image" src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5aa649d38485da288388b193/120c299d-899d-449e-bd01-6041790f5f9c/128?size=48&s=48">
        </div> -->
        <mat-card-title>{{ release.releaseName }}</mat-card-title>
        <mat-card-subtitle>{{ release.releaseTag }}</mat-card-subtitle>
      </mat-card-header>
      <h4 mat-subheader>Release Mile Stones</h4>
      <mat-list-item>
        <div class="card-content">
          <h4 mat-line>Requirement Freeze :</h4>
          <p mat-line>{{ release.requirementFreeze | date }}</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="card-content">
          <h4 mat-line>Feature Freeze</h4>
          <p mat-line>{{ release.featureFreeze | date }}</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="card-content">
          <h4 mat-line>Code Freeze</h4>
          <p mat-line>{{ release.codeFreeze | date }}</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="card-content">
          <h4 mat-line>Product Release</h4>
          <p mat-line>{{ release.releaseDate | date }}</p>
        </div>
      </mat-list-item>

      <!-- <h4 mat-subheader>  Release Documents </h4>
      <mat-list-item>
        <div class="card-content">
          <h4 mat-line> Requirement Document </h4>
          <a target="_blank" href="{{release.requirementDocument}}" > View</a>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="card-content">
          <h4 mat-line> Release Notes </h4>
          <a target="_blank" href="{{release.releaseNote}}" > View</a>
        </div>
        
      </mat-list-item> -->

      <mat-card-actions class="card-action">
        <button
          routerLink="/release/{{ release.id.replace('#', '') }}"
          mat-raised-button
          color="primary"
          class="card-btn"
        >
          VIEW DETAILS
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <mat-vertical-stepper #stepper>
  <mat-step  label="Requirement Freeze" completed="true">
    {{release.requirementFreeze}}
  </mat-step>
  <mat-step  label="Requirement Freeze" completed="true">
    {{release.requirementFreeze}}
  </mat-step>
  <mat-step  label="Requirement Freeze" completed="true">
    {{release.requirementFreeze}}
  </mat-step>
  <mat-step  label="Requirement Freeze" completed="true">
    {{release.requirementFreeze}}
  </mat-step>
</mat-vertical-stepper>  -->
