<div class="release-container">
  <div class="btn-container">
    <button mat-raised-button color="primary" class="release-btn" (click)="addRelease()">
      <svg class="icon-add">
        <use xlink:href="../../assets/symbols.svg#icon-plus"></use>
      </svg>
      <span class="release-btn-text">New Release</span>
    </button>
  </div>

  <app-loader *ngIf="isLoading" class="inline-loader" [isLoading]="isLoading"></app-loader>
  <div class="release-content" *ngIf="!isLoading">
    <div class="ongoing_release">
      <h3 mat-line class="section-header">Ongoing Releases</h3>
      <h4 mat-line *ngIf="ongoingRelease.length == 0" class="empty-release">No upcoming planned release</h4>
      <div class="card-container">
        <mat-card *ngFor="let release of ongoingRelease" class="release-card">
          <mat-card-header class="card-header">
            <mat-card-title>{{ release.releaseName }}</mat-card-title>
            <mat-card-subtitle>{{ release.releaseTag }}</mat-card-subtitle>

            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
              class="vert_option_btn"
            >
              <mat-icon class="vert-icon">more_vert</mat-icon>
            </button>
            <div class="menu_option">
              <mat-menu #menu="matMenu" class="menu-item">
                <button mat-menu-item (click)="editRelease(release)">
                  <mat-icon>edit</mat-icon>
                  <span>Modify</span>
                </button>

                <button mat-menu-item (click)="cloneRelease(release)">
                  <mat-icon>replay</mat-icon>
                  <span>Clone</span>
                </button>

                <button mat-menu-item (click)="deleteRelease(release)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-header>
          <mat-divider></mat-divider>

          <mat-card-content
            class="card-details"
            (click)="goToReleaseDetails(release)"
            matTooltip="Click to view Release Details"
            matTooltipPosition="below"
            matTooltipShowDelay="300"
          >
            <mat-list-item>
              <div class="card-content">
                <span>Phase </span>
                <span class="release-phase-text">{{ release.phase | uppercase }}</span>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="card-content">
                <span>Release Date</span>
                <mat-chip-list>
                  <div class="release-date">{{ release.releaseDate | date }}</div>
                </mat-chip-list>
              </div>
            </mat-list-item>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="completed_release">
      <div class="ongoing_release">
        <h3 mat-line class="section-header">Completed Releases</h3>
        <h4 mat-line *ngIf="ongoingRelease.length == 0" class="empty-release">No upcoming planned release</h4>
        <div class="card-container">
          <mat-card *ngFor="let release of completedRelease" class="release-card">
            <mat-card-header class="card-header">
              <mat-card-title>{{ release.releaseName }}</mat-card-title>
              <mat-card-subtitle>{{ release.releaseTag }}</mat-card-subtitle>

              <!-- <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                class="vert_option_btn"
              >
                <mat-icon class="vert-icon">more_vert</mat-icon>
              </button>
              <div class="menu_option">
                <mat-menu #menu="matMenu" class="menu-item">
                  <button mat-menu-item (click)="editRelease(release)">
                    <mat-icon>edit</mat-icon>
                    <span>Modify</span>
                  </button>

                  <button mat-menu-item (click)="cloneRelease(release)">
                    <mat-icon>replay</mat-icon>
                    <span>Clone</span>
                  </button>

                  <button mat-menu-item (click)="deleteRelease(release)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div> -->
            </mat-card-header>
            <mat-divider></mat-divider>

            <mat-card-content
              class="card-details"
              (click)="goToReleaseDetails(release)"
              matTooltip="Click to view Release Details"
              matTooltipPosition="below"
              matTooltipShowDelay="300"
            >
              <mat-list-item>
                <div class="card-content">
                  <span>Phase </span>
                  <span class="release-phase-text">{{ release.phase | uppercase }}</span>
                </div>
              </mat-list-item>
              <mat-list-item>
                <div class="card-content">
                  <span>Release Date</span>
                  <mat-chip-list>
                    <div class="release-date">{{ release.releaseDate | date }}</div>
                  </mat-chip-list>
                </div>
              </mat-list-item>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
