@import "../style.scss";

.btn-container {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.icon-add {
  width: 1rem;
  height: 1rem;
  fill: white;
}

.release-btn {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;

  &-text {
    margin-left: 0.5rem;
  }
}

.card-container {
  display: flex;
  margin: 2rem;
}

.release-card {
  width: 25rem;
  margin-right: 2rem;
}

.card-header {
  // background-color: $color-blue;
  // color: white;
}

.card-content {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.example-header-image {
  width: 3rem;
  border-radius: 50px;
}

.card-btn {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0rem 1rem;
}

.card-action {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
