<div class="form-wrapper">
  <h3 mat-line class="title">We Take Your Feedback Seriously. So Please Do Provide One !</h3>
  <form [formGroup]="feedbackForm">
    <div class="form-element">
      <mat-form-field>
        <mat-label>Feedback Category</mat-label>
        <mat-select required formControlName="feedbackType" [(ngModel)]="optionValue">
          <mat-option value="appreciation">Appreciation</mat-option>
          <mat-option value="bug">Bugs</mat-option>
          <mat-option value="feature">Feature Request</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="action-container">
      <div class="url" *ngIf="optionValue == 'bug'">
        <a href="{{ jiraUrl.replace('TYPE', bugId).replace('USER', userId) }}" target="_blank">
          Please Create a Ticket in Jira</a
        >
      </div>
      <div class="url" *ngIf="optionValue == 'feature'">
        <a href="{{ jiraUrl.replace('TYPE', newFeatureId).replace('USER', userId) }}" target="_blank">
          Please Create a Ticket in Jira</a
        >
      </div>
      <div *ngIf="optionValue == 'appreciation'" class="feedback-text">
        <mat-form-field appearance="legacy" class="feedback-form">
          <mat-label>Your Feedback</mat-label>
          <textarea
            class="text-area"
            matInput
            matTextareaAutosize
            matAutosizeMinRows="5"
            matAutosizeMaxRows="5"
            matTooltip="Provide the Requirement Document"
            matTooltipShowDelay="{{ toolTipDelay }}"
            matTooltipPosition="right"
            formControlName="feedbackValue"
          ></textarea>
        </mat-form-field>

        <div class="submit">
          <button mat-raised-button color="primary" (click)="onFeedbackForm()" class="release-btn">
            Submit Feedback
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
