<div mat-card class="table-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="build_number">
        <th mat-header-cell *matHeaderCellDef>Build Number</th>
        <td mat-cell *matCellDef="let row">
          <a target="_blank" href="{{ row.chart_location }}"> {{ row.build_number }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="commit_id">
        <th mat-header-cell *matHeaderCellDef>Commit Id</th>
        <td mat-cell *matCellDef="let row">{{ row.commit_id }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>

        <td mat-cell *matCellDef="let row">
          <img *ngIf="row.status == 'started'" src="../../assets/build_progress.gif" />
          <svg *ngIf="row.status == 'success'" class="icon-success">
            <use xlink:href="../../assets/symbols.svg#icon-check-circle"></use>
          </svg>
          <svg *ngIf="row.status == 'failed'" class="icon-failure">
            <use xlink:href="../../assets/symbols.svg#icon-x-altx-alt"></use>
          </svg>
        </td>
      </ng-container>

      <ng-container matColumnDef="test_summary">
        <th mat-header-cell *matHeaderCellDef>Test Summary</th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.test_status == null; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>
            <span>TESTS NOT RUN</span>
          </ng-template>
          <ng-template #elseBlock>
            <span *ngIf="row.test_status.status == 'PASSED'">ALL PASSED</span>
            <a
              *ngIf="row.test_status.status == 'FAILED'"
              target="_blank"
              href="{{ report_portal_url.replace('launch_id', row.test_status.id) }}"
            >
              {{ row.test_status.statistics.executions.failed }} Failures
            </a>
          </ng-template>
          <!--  -->
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let row">{{ row.author }}</td>
      </ng-container>

      <ng-container matColumnDef="build_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Build Date</th>
        <td mat-cell *matCellDef="let row">{{ row.build_date }}</td>
      </ng-container>

      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button class="btn-refresh" (click)="refreshContent()">
            <svg class="icon-refresh">
              <use xlink:href="../../assets/symbols.svg#icon-refresh"></use>
            </svg>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="chart_location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>chart_location</th>
        <td mat-cell *matCellDef="let row">
          <a  target="_blank" href="{{row.chart_location}}"> {{row.build_number}}</a>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="buildCount" [pageIndex]="0" [pageSize]="15" [pageSizeOptions]="[15]">
    </mat-paginator>
  </div>
</div>
