<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar>
        <span translate class="heading-1">APP_NAME</span>
        <div fxFlex></div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <div matTooltipShowDelay="300" class="icon-container" routerLink="/home">
            <svg class="icon">
              <use xlink:href="../../assets/symbols.svg#icon-home2"></use>
            </svg>
            <span class="title">HOME</span>
          </div>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
          <!-- <mat-divider></mat-divider> -->
          <!-- <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Home</span>
          </a> -->
          <!-- <mat-divider></mat-divider> -->

          <div matTooltipShowDelay="300" class="icon-container" routerLink="/build">
            <svg class="icon">
              <use xlink:href="../../assets/symbols.svg#icon-hammer"></use>
            </svg>
            <span class="title">BUILD</span>
          </div>
          <!-- 
          <mat-divider></mat-divider> -->
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
          <div class="icon-container" matTooltipShowDelay="300" routerLink="/release">
            <svg class="icon">
              <use xlink:href="../../assets/symbols.svg#icon-rocket1"></use>
            </svg>
            <span class="title">RELEASE</span>
          </div>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
          <div class="icon-container" matTooltipShowDelay="300" routerLink="/customer">
            <svg class="icon">
              <use xlink:href="../../assets/symbols.svg#icon-group"></use>
            </svg>
            <span class="title">CUSTOMERS</span>
          </div>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
          <div class="icon-container" matTooltipShowDelay="300" (click)="takeFeedback()">
            <svg class="icon">
              <use xlink:href="../../assets/symbols.svg#icon-bullhorn"></use>
            </svg>
            <span class="title">FEEDBACK</span>
          </div>
        </mat-list>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <div class="top-navbar-elements">
          <span class="page-title">{{ title | uppercase }}</span>
          <!-- <app-search class="search-bar"></app-search> -->
          <img routerLink="/home" class="profile-img" src="{{ profileImg }}" />
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
