@import "../style.scss";

:host {
  display: flex;
  flex: 1;
}

// .sidenav-container {
//   height: 100vh;
// }

.mat-sidenav {
  min-width: 4rem;
  max-width: 28%;
  // height: 100vh;
  background-color: $color-blue;
}

.mat-toolbar {
  background-color: $color-blue;
  height: 5rem;
}

.mat-sidenav-content {
  .mat-toolbar {
    background-color: $color-blue;

    display: flex;
    height: 5rem;
    justify-content: center;
  }
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

::ng-deep .mat-tooltip {
  font-size: 1rem;
  width: 8rem;
  line-height: 1.3rem;
}

.page-title {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
}

.top-navbar-elements {
  display: flex;
  align-items: center;
}

.search-bar {
  position: absolute;
  left: 6rem;
}

.profile-img {
  width: 3rem;
  border-radius: 100px;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.icon-container {
  padding-bottom: 1rem;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
  margin-top: 0.7rem;
  font-size: 0.8rem;
}
