<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar>
        <span translate class="heading-1">APP_NAME</span>
        <div fxFlex></div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <!-- <mat-divider></mat-divider> -->
          <!-- <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Home</span>
          </a> -->
          <!-- <mat-divider></mat-divider> -->
          <div
            matTooltip="Monitor Micro Service Level Build Status"
            matTooltipShowDelay="300"
            [matTooltipPosition]="position.value"
            class="icon-container"
            routerLink="/build"
          >
            <svg class="icon">
              <use xlink:href="../../assets/symbols.svg#icon-hammer"></use>
            </svg>
          </div>
          <!-- 
          <mat-divider></mat-divider> -->
        </mat-list>
        <mat-list>
          <div
            class="icon-container"
            matTooltip="Monitor and Manage Product Releases"
            matTooltipShowDelay="300"
            [matTooltipPosition]="position.value"
            routerLink="/release"
          >
            <svg class="icon">
              <use xlink:href="../../assets/symbols.svg#icon-rocket1"></use>
            </svg>
          </div>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <div class="top-navbar-elements">
          <span class="page-title">{{ title }}</span>
          <app-search class="search-bar"></app-search>
          <img
            class="profile-img"
            src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:343329ee-44a6-4f58-a6f9-939814225258/6220d4fd-3888-4fbc-85a1-77b7813b81fd/128"
          />
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
