@import "../style.scss";

.home-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-background;
  height: 100vh;
}

.jira-chart-container {
  height: 50vh;
  &:first-child {
    margin-right: 2rem;
  }

  // .card-container {
  //   display: flex;
  //   margin-left: 2rem;
  //   flex-direction: column;
  // }

  .instructions {
    margin-left: 2rem;
  }
}

.icon {
  width: 40px;
  height: 40px;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .header {
    display: flex;
    align-items: center;
  }

  .msg {
    margin-top: 1rem;
  }
}

.action_container {
  display: flex;
  margin-top: 2rem;
  .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    .input {
      width: 95%;
    }

    .btn {
      margin-top: 1rem;
      width: 35%;
    }
  }

  .error_msg {
    color: red;
  }
}
